<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
  <div class="row">
   
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Taux</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        <div class="row" *ngFor="let t of taux">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">{{t.libelle}}</label>
              <input type="text" class="form-control" [name]="t.libelle"  required  [(ngModel)]="t.valeur" placeholder="">
            </div>
          </div>
        </div><!--/.row-->  
        <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-success"  type="button" (click)="update()">Valider</button>
          </div>
        </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->
     

</div>
</div>