<div class="animated fadeIn">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
<div class="row">
 
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Article</strong>
      <small>Formulaire</small>
    </div>
    <div class="card-body">
      <form #form="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Titre</label>
            <input type="text" class="form-control" id="name" #n="ngModel" required name="nom" [(ngModel)]="article.titre" placeholder="titre">
          </div>
        </div>
      </div><!--/.row-->
     
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Type</label>
            <select class="form-control" id="name" name="type" #type="ngModel" required [(ngModel)]="article.type">
              <option>Article</option>
              <option>Opinion</option>
              <option>Entrepreneur&Startup</option>
              <option>Vidéo</option>
            </select>
          </div>
        </div>
      </div><!--/.row-->
      <div class="row" *ngIf="article.type=='Vidéo'">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="video">Id video youtube</label>
            <input type="text" class="form-control" id="video" #n="ngModel"  name="video" [(ngModel)]="article.youtubeVideoId" placeholder="Ex: VeB1fPhmvbg sur  https://www.youtube.com/watch?v=VeB1fPhmvbg">
          </div>
        </div>
      </div><!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Pays</label>
            <select class="form-control" id="name" name="pays" #pays="ngModel" required [(ngModel)]="article.pays">
              <option>Benin</option>
              <option>Burkina Faso</option>
              <option>Côte d'Ivoire</option>
              <option>Guinée-Bissau</option>
              <option>Mali</option>
              <option>Niger</option>
              <option>Sénégal</option>
              <option>Togo</option>
              <option>Afrique</option>
              <option>Maghreb</option>
              <option>Monde</option>
              <option>Régional</option>
              <option>BRVM</option>
            </select>
          </div>
        </div>
      </div><!--/.row-->
     
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Catégorie</label>
            <select class="form-control" id="name" name="secteur" #cat="ngModel" required [(ngModel)]="article.categorie">
              <option>Finance</option>
              <option>Economie</option>
              <option>Telecom/Informatique</option>
              <option>Agriculture</option>
              <option>Elevage</option>
              <option>Education</option>
              <option>Transport</option>
              <option>Autre</option>
            </select>
          </div>
        </div>
      </div><!--/.row-->
      <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="auteur">Auteur</label>
              <select class="form-control" id="auteur" name="auteur" #auteur="ngModel" required [(ngModel)]="article.auteur.id">
                <option *ngFor="let a of users;" [value]="a.id">{{a.nom}} {{a.prenom}}</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
      <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="auteur">Structure associée</label>
              <select class="form-control" id="structure" name="structure" #structure="ngModel" [(ngModel)]="article.symbole">
                <option *ngFor="let s of structures;" [value]="s.symbole">{{s.nom}}</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Photo</label>
            <input type="file" class="form-control" id="name"  name="nom" (change)="readImage($event)">              
          </div>
          <div>
            <img class="card-img-top" style="max-height: 200px;max-width: 200px;" [src]="url?url:baseImageUrl" alt="Card image cap">
          </div>
        </div>
      </div><!--/.row-->
      <div class="col-sm-12">
          <div class="pull-right">Publier
          <label class="switch switch-3d switch-success ">
              <input checked="" name="visibilite" class="switch-input" type="checkbox" [(ngModel)]="article.visibilite">
              <span class="switch-label"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
      </div>
    
      <div class="clearfix"></div>
      <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Contenu</label>
              <div [froalaEditor] [(froalaModel)]="article.contenu"></div>
            </div>
          </div>
        </div><!--/.row-->
      <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-success"  [disabled]="!form.form.valid" type="button" (click)="addArticle()">Valider</button>
        </div>
      </div><!--/.row-->
    </form>
      </div>
  </div>
</div><!--/.col-->

</div>
</div>
