<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
  <div class="row">
   
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Publicité</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Photo</label>
              <input type="file" class="form-control" id="name"  name="nom" (change)="readImage($event)">              
            </div>
            <div>
              <img class="card-img-top" style="max-height: 200px;max-width: 200px;" [src]="url?url:baseImageUrl" alt="Card image cap">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Url du site </label>
              <input type="text" class="form-control" id="name" #u="ngModel" required name="url" [(ngModel)]="publicite.url" placeholder="lien à ouvrir après clique sur la publicité">
            </div>
          </div>
        </div><!--/.row-->
        <div class="col-sm-12">
            <div class="pull-right">Publier
            <label class="switch switch-3d switch-success ">
                <input checked="" name="visibilite" class="switch-input" type="checkbox" [(ngModel)]="publicite.visibilite">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-success"  [disabled]="!form.form.valid" type="button" (click)="addPublicite()">Valider</button>
          </div>
        </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->

</div>
</div>
