<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
  <div class="row">
   
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Evenement & publicité</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Titre</label>
              <input type="text" class="form-control" id="name" #n="ngModel" required name="nom" [(ngModel)]="evenement.titre" placeholder="titre">
            </div>
          </div>
        </div><!--/.row-->
       
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Type</label>
              <select class="form-control" id="name" name="type" #type="ngModel" required [(ngModel)]="evenement.type">
                <option>Forum</option>
                <option>Conférence</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="lieu">Lieu</label>
              <input type="text" class="form-control" id="lieu" #n="ngModel" required name="lieu" [(ngModel)]="evenement.lieu" placeholder="Ex: Dakar, Sénégal">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Catégorie</label>
              <select class="form-control" id="name" name="secteur" #cat="ngModel" required [(ngModel)]="evenement.categorie">
                <option>Finance</option>
                <option>Economie</option>
                <option>Telecom/Informatique</option>
                <option>Agriculture</option>
                <option>Elevage</option>
                <option>Education</option>
                <option>Transport</option>
                <option>Transport</option>
                <option>Autre</option>
                <option>Structure donnée</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Début de l'évenement</label>
              <input type="text"
              class="form-control"
              [minDate]="minDate"
              [maxDate]="maxDate"
              #dp="bsDatepicker"
              bsDatepicker [(bsValue)]="evenement.date">
                          </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Fin de l'évenement</label>
              <input type="text"
              class="form-control"
              [minDate]="minDate"
              [maxDate]="maxDate"
              #dp1="bsDatepicker"
              bsDatepicker [(bsValue)]="evenement.fin">
                </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Photo</label>
              <input type="file" class="form-control" id="name"  name="nom" (change)="readImage($event)">              
            </div>
            <div>
              <img class="card-img-top" style="max-height: 200px;max-width: 200px;" [src]="url?url:baseImageUrl" alt="Card image cap">
            </div>
          </div>
        </div><!--/.row-->
        <div class="col-sm-12">
            <div class="pull-right">Publier
            <label class="switch switch-3d switch-success ">
                <input checked="" name="visibilite" class="switch-input" type="checkbox" [(ngModel)]="evenement.visibilite">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Description</label>
                <div [froalaEditor] [(froalaModel)]="evenement.description">Hello, Froala!</div>
              </div>
            </div>
          </div><!--/.row-->
        <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-success"  [disabled]="!form.form.valid" type="button" (click)="addEvenement()">Valider</button>
          </div>
        </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->

</div>
</div>
