<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>

  <div class="row">
  <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des Publicites
        </div>
        <div class="card-body">
          <div class="pull-right" style="margin-bottom:5px;">
            <div class="form-inline">
            <div class="form-group" style="margin: 10px 0px 10px 0px">
                <label for="size">Nombre :</label>
                <select class="form-control" id="size" name="size" (change)="changeSize()" [(ngModel)]="options.size">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
            </div>
          </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Url du site</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of publicites.content">
                <td><img style="max-width: 50%" [src]="p.photoUrl"></td>
                <td>{{p.url}}</td>
                <td>
                    <label class="switch switch-3d switch-success ">
                        <input checked="" name="visibilite" class="switch-input" type="checkbox" [(ngModel)]="p.visibilite" (change)="changeEvenementStatus(p.id,p.visibilite)">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                      </label>
                </td>
                <td>
                    <button style="margin-bottom:10px;" class="btn btn-outline-primary" type="button" (click)="editerPublicite(p.id)"><i class="fa fa-pencil"></i>&nbsp; Editer</button>
                    <button class="btn btn-outline-danger"  data-toggle="modal" type="button" (click)="showSuppressionModal(p.id)"><i class="fa fa-trash-o"></i>&nbsp; Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngIf="publicites.first==false"><a class="page-link" (click)="paginate('p')" >Prev</a></li>
            <li class="page-item" *ngFor="let p of pages;let i=index">
              <a class="page-link"   (click)="paginate(i)" [ngClass]="{'active':options.page==i}">{{i+1}}</a>
            </li>
            <li class="page-item" *ngIf="publicites.last==false"><a class="page-link" (click)="paginate('n')">Next</a></li>
          </ul>
        </div>
      </div>
    </div>  
</div>
</div>
<div bsModal #suppressionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Suppression</h4>
          <button type="button" class="close" (click)="suppressionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>Avertissement </strong> Supprimer une publicité peut entrainer une suppression des données relatives à la structure en question
          </div>
          <p>
            <strong>Etes vous sur? </strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="deletePublicite()">Oui</button>
          <button type="button" class="btn btn-danger" (click)="suppressionModal.hide()">Non</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->