<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                  <div class="alert alert-warning" *ngIf="auth.rep==false">
                      {{auth.message}}
                    </div>
                    <div class="alert alert-danger" *ngIf="auth.rep==-1">
                      {{auth.message}}
                    </div>
              <div class="input-group mb-3" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" [formControl]="email" class="form-control" placeholder="Email">
              </div>
              <div class="input-group mb-4" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [formControl]="password"  class="form-control" placeholder="Mot de passe">
              </div>
              <div class="row">
                <div class="col-6">
                  <button [disabled]="!form.valid" type="submit" class="btn btn-primary px-4">Login</button>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
