<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
  <div class="row">
   
  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Utilisateur</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" #n="ngModel" required name="nom" [(ngModel)]="utilisateur.nom" placeholder="nom">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Prénom</label>
              <input type="text" class="form-control" id="name" #p="ngModel" required name="prenom" [(ngModel)]="utilisateur.prenom" placeholder="prenom">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Email</label>
              <input type="text" class="form-control" id="name" #e="ngModel" required name="email" [(ngModel)]="utilisateur.email" placeholder="email">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Mot de passe</label>
              <input type="password" class="form-control" id="name" #pass="ngModel" required name="password" [(ngModel)]="utilisateur.password" placeholder="Mot de passe">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Description</label>
              <textarea  class="form-control" id="name" #desc="ngModel" required name="description" [(ngModel)]="utilisateur.description" placeholder="description"></textarea>
            </div>
          </div>
        </div><!--/.row-->
        
        <div class="row">
          <div class="col-sm-6">
              <button class="btn btn-success"  [disabled]="!form.form.valid" type="button" (click)="addUtilisateur()">Valider</button>
          </div>
        </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->
     
  <div class="col-sm-12 col-md-8">
      <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des utilisateurs
          </div>
          <div class="card-body">
            <div class="col-sm-4 pull-right" style="margin-bottom:5px;">
              <div class="form-inline">
                  <label for="size">Nombre :</label>
                  <select class="form-control" id="size" name="size" (change)="changeSize()" [(ngModel)]="options.size">
                      <option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                    </select>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of utilisateurs.content">
                  <td>{{u.nom}}</td>
                  <td>{{u.prenom}}</td>
                  <td>{{u.email}}</td>
                  <td>
                      <button class="btn btn-outline-primary" type="button" (click)="editerUtilisateur(u)"><i class="fa fa-pencil"></i>&nbsp; Editer</button>
                      <button class="btn btn-outline-danger"  data-toggle="modal" type="button" (click)="showSuppressionModal(u.id)"><i class="fa fa-trash-o"></i>&nbsp; Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item" *ngIf="utilisateurs.first==false"><a class="page-link" (click)="paginate('p')" >Prev</a></li>
              <li class="page-item" *ngFor="let p of pages;let i=index">
                <a class="page-link"   (click)="paginate(i)" [ngClass]="{'active':options.page==i}">{{i+1}}</a>
              </li>
              <li class="page-item" *ngIf="utilisateurs.last==false"><a class="page-link" (click)="paginate('n')">Next</a></li>
            </ul>
          </div>
        </div>
  </div>

</div>
</div>
<div bsModal #suppressionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Suppression</h4>
          <button type="button" class="close" (click)="suppressionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>Avertissement </strong> Supprimer un ulisateur peut entrainer une suppression des données relatives à ce dernier telles que les articles
          </div>
          <p>
            <strong>Etes vous sur? </strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="deleteUtilisateur()">Oui</button>
          <button type="button" class="btn btn-danger" (click)="suppressionModal.hide()">Non</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->