<div class="animated fadeIn">
  <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <strong>Données</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Var</label>
              <input type="text" class="form-control" id="name" #n="ngModel" required name="var" [(ngModel)]="donnee.var" placeholder="nom de la structure">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Volume titre</label>
              <input type="text" class="form-control" id="name" #s="ngModel" required name="volTitre" [(ngModel)]="donnee.volTitre" placeholder="volume titre">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Volume Fcfa</label>
              <input type="text" class="form-control" id="name" name="volFcfa" #sec="ngModel" required [(ngModel)]="donnee.volFcfa" placeholder="volume fcfa">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Date</label>
                <input type="date" class="form-control" id="name" name="date" #sec="ngModel" required [(ngModel)]="donnee.date" placeholder="date">
              </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Structure</label>
                <select name="structure" [(ngModel)]="donnee.structure.symbole" class="form-control"(change)="changeStructure()">
                  <option *ngFor="let s of structures" [value]="s.symbole">{{s.nom}}</option>
                </select>
              </div>
            </div>
        </div>    
        <div class="row">
          <div class="col-sm-12">
              <button class="btn btn-success" *ngIf="donnee.id==undefined" [disabled]="!form.form.valid" type="button" (click)="addDonnee()">Ajouter</button>
              <button class="btn btn-info" [disabled]="!form.form.valid" *ngIf="donnee.id!=undefined" type="button" (click)="addDonnee()">Modifier</button>
          </div>
        </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Données
        </div>
        <div class="card-body">
            <div class="col-sm-4 pull-left" style="margin-bottom:5px;">
                <div class="form-inline">
                  <label for="name">Structure</label>
                  <select name="structure" [(ngModel)]="donnee.structure.symbole" (change)="changeStructure()" class="form-control">
                    <option *ngFor="let s of structures" [value]="s.symbole">{{s.nom}}</option>
                  </select>
                </div>
              </div>
          <div class="col-sm-4 pull-right" style="margin-bottom:5px;">
            <div class="form-inline">
                <label for="size">Nombre :</label>
                <select class="form-control" id="size" name="size" (change)="changeSize()" [(ngModel)]="options.size">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Var</th>
                <th>Volume Titre</th>
                <th>Volume Fcfa</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let donnee of donnees.content">
                <td>{{donnee.var}}</td>
                <td>{{donnee.volTitre}}</td>
                <td>{{donnee.volFcfa}}</td>
                <td>{{donnee.date}}</td>
                <td>
                    <button class="btn btn-outline-primary" type="button" (click)="editerDonnee(donnee)"><i class="fa fa-pencil"></i>&nbsp; Editer</button>
                    <button class="btn btn-outline-danger"  data-toggle="modal" type="button" (click)="showSuppressionModal(donnee.id)"><i class="fa fa-trash-o"></i>&nbsp; Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngIf="donnees.first==false"><a class="page-link" (click)="paginate('p')" >Prev</a></li>
            <li class="page-item" *ngFor="let p of pages;let i=index">
              <a class="page-link"   (click)="paginate(i)" [ngClass]="{'active':options.page==i}">{{i+1}}</a>
            </li>
            <li class="page-item" *ngIf="donnees.last==false"><a class="page-link" (click)="paginate('n')">Next</a></li>
          </ul>
        </div>
      </div>
    </div>  
</div>
</div>
<div bsModal #suppressionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Suppression</h4>
          <button type="button" class="close" (click)="suppressionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <strong>Etes vous sur? </strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="deleteDonnee()">Oui</button>
          <button type="button" class="btn btn-danger" (click)="suppressionModal.hide()">Non</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->