<div class="animated fadeIn">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">Patienter</ngx-loading>
    <div class="col-xs-12">
      <div class="card">
          <div class="card-header">
              <strong>Import </strong>
              <small>Fichier excel</small>
            </div>
            <div class="card-body">
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="importExcelFile($event)">
        <div class="alert alert-warning" style="margin-top:10px;">
          <strong>Info </strong> l'extension du fichier doit  etre .xlsx
        </div>
        <div class="alert alert-danger" style="margin-top:10px;">
          <strong>Info </strong> En cliquant sur le bouton(vider tous) vous effacerez toutes les structures ainsi toutes ces données.Utilisez cette fonctionnalité lors que vous voulez remettre de nouvelles données à base d'un fichier excel.
          <button (click)="showSuppressionModal('all')">Vider tous</button>
        </div>
            </div>
      </div>
    </div>
  <div class="row">
   
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <strong>Structure</strong>
        <small>Formulaire</small>
      </div>
      <div class="card-body">
        <form #form="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" #n="ngModel" required name="nom" [(ngModel)]="structure.nom" placeholder="nom de la structure">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Symbole</label>
              <input type="text" class="form-control" id="name" #s="ngModel"[disabled]="action=='edit'" required name="symbole" [(ngModel)]="structure.symbole" placeholder="symbole de la structure">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Secteur</label>
              <input type="text" class="form-control" id="name" name="secteur" #sec="ngModel" required [(ngModel)]="structure.secteur" placeholder="secteur de la structure">
            </div>
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-12">
              <button class="btn btn-success" *ngIf="action=='add'" [disabled]="!form.form.valid" type="button" (click)="addStructure()">Ajouter</button>
              <button class="btn btn-info" [disabled]="!form.form.valid" *ngIf="action=='edit'" type="button" (click)="addStructure()">Modifier</button>
          </div>
        </div><!--/.row-->
         
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Contenu</label>
                <div [froalaEditor] [(froalaModel)]="structure.description"></div>
              </div>
            </div>
          </div><!--/.row-->
      </form>
        </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des structures
        </div>
        <div class="card-body">
          <div class="col-sm-4 pull-right" style="margin-bottom:5px;">
            <div class="form-inline">
                <label for="size">Nombre :</label>
                <select class="form-control" id="size" name="size" (change)="changeSize()" [(ngModel)]="options.size">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Symbole</th>
                <th>Secteur</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let structure of structures.content">
                <td>{{structure.nom}}</td>
                <td>{{structure.symbole}}</td>
                <td>{{structure.secteur}}</td>
                <td>
                    <button class="btn btn-outline-success" type="button" (click)="voirStructure(structure.symbole)"><i class="fa fa-info"></i>&nbsp; Voir</button>
                    <button class="btn btn-outline-primary" type="button" (click)="editerStructure(structure)"><i class="fa fa-pencil"></i>&nbsp; Editer</button>
                    <button class="btn btn-outline-danger"  data-toggle="modal" type="button" (click)="showSuppressionModal(structure.symbole)"><i class="fa fa-trash-o"></i>&nbsp; Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngIf="structures.first==false"><a class="page-link" (click)="paginate('p')" >Prev</a></li>
            <li class="page-item" *ngFor="let p of pages;let i=index">
              <a class="page-link"   (click)="paginate(i)" [ngClass]="{'active':options.page==i}">{{i+1}}</a>
            </li>
            <li class="page-item" *ngIf="structures.last==false"><a class="page-link" (click)="paginate('n')">Next</a></li>
          </ul>
        </div>
      </div>
    </div>  
</div>
</div>
<div bsModal #suppressionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Suppression</h4>
          <button type="button" class="close" (click)="suppressionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>Avertissement </strong> Supprimer une structure peut entrainer une suppression des données relatives à la structure en question
          </div>
          <p>
            <strong>Etes vous sur? </strong>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="deleteStructure()">Oui</button>
          <button type="button" class="btn btn-danger" (click)="suppressionModal.hide()">Non</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->